* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F0F2F5;
    padding: 0 0 100px 0;
}
#screenhr {
    opacity: 0%;
}

.container {
    width: 80%;
    margin: 0 auto;

}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area {
    margin-right: 40px;
}

.logo-area img {
    height: 106px;
    margin-left: -28px;
}

.logo-area p {
    width: 500px;
    margin: 0;
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
}

.login-area {
    text-align: center;
}

.box {
    width: 350px;
    /* background-color: white; */
    padding: 10px 20px;
    /* box-shadow: 0 0 20px lightgray; */
    border-radius: 10px;
    margin-top: 80px;
}

.box label {
    text-align: right;
}

.login-area input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 15px 10px;
    margin: 0 auto 10px;
    box-sizing: border-box;
    border: 1px solid #DDDFE2;
    border-radius: 6px;
}

.login-area input:focus {
    border: 1px solid lightblue;
    transition: 300ms;
    box-shadow: 0 0 2px blue;
}

.login-area input:focus::placeholder {
    opacity: .2;
}

.login-area input::placeholder {
    font-family: Helvetica, Arial, sans-serif;
    color: #90949C;
}

.login-area input[type="submit"] {
    background-color: #1877F2;
    border: 2px solid  #1877F2;
    color: white;
    font-weight: bold;
}

.login-area a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

.login-area .fp {
    margin-bottom: 20px;
    color: #1877F2;
}

.login-area .c-account {
    background-color: #42B72A;
    width: 55%;
    margin: 20px auto 10px;
    padding: 15px 0;
    color: white;
    border-radius: 6px;
}

.login-area .c-page {
    display: inline;
    color: black;
    font-weight: lighter;
}

.login-area hr {
    color: #DADDE1;
    opacity: .4;
}


.footer-area .container {
    width: 80%;
    margin: auto;
    max-width: 960px;
}
#para {
    all: unset
}

label {
    all: unset;
    float: left;
    font-weight: lighter;
}

.footer-area {
    font-family: tahoma;
    font-size: 12px;
}

.footer-area ul li {
    float: left;
}

.footer-area ul li a {
    text-decoration: none;
    color: #8A8D91;
}

.footer-area ul li a:hover {
    text-decoration: underline;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.footer-top, 
.footer-bottom {
    overflow: hidden;
    padding: 5px 0;
}

.footer-area hr {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #B5BCCF;
}

.seperator {
  width: 42%;
  display: inline-block;
  margin-top: 2.5%;
}

.left {
  float: left;
}
.right {
float: right;
}

/*### 3.2 Footer Top ###*/

.footer-top ul li {
    margin-right: 12px;
}

.footer-top ul li:last-child a {
    background: #EDF0F5;
    padding: 2px 8px;
    text-decoration: none;
}

.footer-top ul li:last-child a:hover {
    background: #D8DDEB;
}

/*### 3.3 Footer Bottom ###*/

.footer-bottom ul {
    width: 100%;
}

.footer-bottom ul li {
    margin-right: 0;
    width: 10%;
    margin-bottom: 5px;
}

.copyright p {
    margin: 15px 0 0 0;
    padding-bottom: 4px;
    color: #A497AD;
}

.copyright a {
    text-decoration: none;
    color: #8A8D91;
    padding-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    .flex-item {
        display: block;
    }

    .logo-area {
        margin-right: 0;
        text-align: center;
    }

    .logo-area img {
        margin-left: 0;
    }

    .logo-area p {
        width: 80%;
        margin: 0 auto;
        font-size: 22px;
        line-height: 24px;
    }

    .box {
        width: 500px;
        margin: 40px auto 0;
        padding: 40px 20px;
        box-shadow: 0 0 20px lightgray;
        background-color: white;
    }
    .seperator, .right, .left {
        display: none;
        font-size: 0;
    }
    
    #para {
        font-size: 0;
    }
    #screenhr {
        opacity: 100%;
    }
    label {
        font-size: 0;
    }
}

@media only screen and (max-width: 767px) {
    .logo-area p {
        width: 100%;
    }

    .box {
        width: 350px;
        box-shadow: 0 0 20px lightgray;
        background-color: white;
    }
    .seperator, .right, .left {
        display: none;
    }
    #para {
        font-size: 0;
    }
    #screenhr {
        opacity: 100%;

    }
    label {
        font-size: 0;
    }
}

@media only screen and (max-width: 480px) {
    .box{
        width: 90%;
        box-shadow: 0 0 20px lightgray;
        background-color: white;
    }

    .c-account {
        padding: 15px 20px;
    }

    .seperator, .right, .left {
        display: none;
        
    }
    #para {
        font-size: 0;
    }
    #screenhr {
        opacity: 100%;

    }
    label {
        font-size: 0;
    }
}